service: ${env:PROJECT_NAME}-${env:VERSION}
plugins:
  - serverless-dotenv-plugin
provider:
  name: aws
  runtime: nodejs14.x
  stage: ${env:STAGE}
  region: ${env:AWS_REGION}
  memorySize: 128
functions:
  app:
    handler: serverless.handler
    events:
      - http:
          path: /
          method: ANY
          cors: true
